@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-belgrano: "Belgrano", serif;
    --font-nunito: "Nunito", sans-serif;
    --color-primary: #3A73F8;
}

.hero {
    @apply flex items-center justify-between px-6 md:px-30;
}